@model IEnumerable<Restaurant>
@{
    ViewData["title"] = "Restoranų sąrašas";
    Layout = "_Layout";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center p-2">
    <span class="title">
        <h1>@ViewData["title"]</h1>
    </span>
    <span>
        <a href="@Url.Action("AddRestaurant")" class="btn btn-primary">Sukurti naują</a>
    </span>
</div>

<div class="d-flex justify-content-center">
    <table class="entitylist table table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.WorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.MinimumOrderPrice)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinimumOrderPrice)
                    </td>
                    <td>
                        <a href="@Url.Action("DishesList", item)" class="btn btn-primary">Peržiūrėti patiekalų ataskaitą</a>
                        <a href="@Url.Action("EditRestaurant", item)" class="btn btn-secondary">Redaguoti</a>
                        <a href="@Url.Action("RemoveRestaurant", item)" class="btn btn-danger">Šalinti</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



