@model Dish
@{
	ViewData["title"] = "Patiekalo šalinimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<fieldset class="border rounded shadow p-2">
		<legend class="text-center">Ar tikrai norite šalinti šį patiekalą?</legend>

		<dl>
			<dt>@Html.DisplayNameFor(m => m.Id)</dt>
			<dd>@Html.DisplayFor(m => m.Id)</dd>

			<dt>@Html.DisplayNameFor(m => m.Name)</dt>
			<dd>@Html.DisplayFor(m => m.Name)</dd>

			<dt>@Html.DisplayNameFor(m => m.Description)</dt>
			<dd>@Html.DisplayFor(m => m.Description)</dd>
		</dl>

		@if( ViewData["deletionNotPermitted"] != null )
		{
			<div class="alert alert-warning text-center">
				<i class="fa-solid fa-circle-exclamation"></i> Šio patiekalo trinti negalima, nes 
				jis turi ryšių į priklausomas esybes.
			</div>
		}
		else
		{
			<div class="container-fluid d-flex d-row justify-content-end">
				<button
					formaction="@Url.Action("DeleteConfirm", new {id = Model.Id})"
					class="btn btn-danger"
					style="white-space: nowrap;"
				><i class="fa-solid fa-trash"></i> Šalinti</button>
			</div>			
		}
	</fieldset>
}
</div>